.parent {
    /* display: flex;
    flex-direction: row;
    top:50%;
    left: 50%;
    margin-top: 10px;
    height: 700px;
    width: 1400px;
    align-items: center;
    border: 2px solid brown;
    gap:100px; */
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:100px;
  
    
  }
  .download {
    margin-top:50px;
    
    padding-left: 40px;
    height: 250px;
    width: 450px;
    border: 2px solid brown;
  
    font-weight: light;
  }
  .dow {
    
    
    color: red;
    border: 2px solid brown;
  }

  .ord {
    left:40px;
  }
  .mob {
    
    height: 670px;
    width:100%;
    display: block;
    object-fit: cover;
    object-position: center;
    /* border: 2px solid brown; */
  }
  .sss {

    height: 70px;
    width: 150px;
  }  
  @media(max-width:500px){
    .parent{
        flex-direction: column;
        width: 50%;
        flex-wrap: wrap;
    }
    .download{
        top: 0px;
    }
    
    .mob{
        flex-shrink: inherit;

    }
  }